---
import Layout from "../layouts/layout.astro"
---

<Layout title="404: Page not found">
	<p class="md-typescale-display-small"><span class="md-typescale-display-large">Error 404:</span> <br />Page <code style="background: #000000; padding: 2px;" class="md-shape-corner-small">{Astro.url}</code> could not be found</p>
</Layout>