---
import Icon from '../../node_modules/astro-material-design/components/icon.astro'
import Card from '../../node_modules/astro-material-design/components/containment/card.astro'

const color = Astro.cookies.get('value')?.value || 'ff0000'
---

<Card type="outlined" style="display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 8px; height: fit-content;">
    <p class="md-typescale-label-large" style="margin-left: 8px;">Current theme color: <span style={`color: #${color}`}>#{color}</span></p>
    <label for="colorpicker"><Icon color="var(--md-color-on-surface)" clearance="8px" id="palette">palette</Icon></label>
    <input type="color" style="width: 0; height: 0; box-sizing: border-box; opacity: 0;" id="colorpicker">
</Card>

<script is:inline>
	document.querySelector('#colorpicker').addEventListener('change', (e) => {
		window.location.href = `/updateColor/${e.target.value.replaceAll('#', '')}`
	})
</script>

<style is:global>
	#palette {
		position: relative;
        overflow: hidden;
	}

	#palette:hover::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:  var(--md-color-on-surface-variant);
        opacity: 0.08;
        overflow: hidden;
        border-radius: 100vh;
	}
</style>