---
import Styles from '../../node_modules/astro-material-design/components/styles.astro'
import NavRail from '../../node_modules/astro-material-design/components/navigation/navigation-rail.astro'
import TopBar from '../../node_modules/astro-material-design/components/navigation/top-bar.astro'
import IconButton from '../../node_modules/astro-material-design/components/actions/icon-button.astro'
import Search from '../../node_modules/astro-material-design/components/navigation/search-bar.astro'
export const pages: any = [
	['Games', 'videogame_asset', 'window.location.href = "/"'],
	['Apps', 'apps', 'window.location.href = "/apps"'],
	['Contact', 'contact_support', 'window.location.href = "/contact"'],
    ['Updates', 'update', 'window.location.href = "/updates"']
]

const json: any = []

for (const x in pages as object) {
	json.push(pages[x])
}

interface Props {
	title: string | boolean,
	page?: string,
	style?: string
}

const { title, page, style } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {title === true ? <title>Fire Game Site</title> : <title>{title} | Fire Game Site</title>}
    <link rel="icon" type="image/x-icon" href="/assets/icon.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <style>
        @font-face {
            font-family: 'Roboto Flex';
            font-style: normal;
            font-weight: 100 1000;
            font-stretch: 100%;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotoflex/v26/NaNNepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGbt8jZktqc2V3Zs0KvDLdBP8SBZtOs2IifRuUZQMsPJtUsR4DEK6cULNeUx9XgTnH37Ha_FIAp4Fm0PP1hw45DntW2x0wZGzhPmr1YNMYKYn9_1IQXGwJAiUJVUMdN5YUW4O8HtSoXjC79QRyaLshNDUf3e0O-gn5rrZCu20YNau4OPE.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
    </style>
</head>
<body>
<NavRail json={JSON.stringify(json)} selected={page} style="background: var(--md-color-surface-container-low); position: fixed;"></NavRail>
<TopBar id="topbar" title={title === true ? 'Fire Game Site' : `${title} | Fire Game Site`} type="small" style="background: var(--md-color-surface-container-low);">
    {((title !== true && page !== "1") || title === "Apps") && <IconButton slot="leading" color="var(--md-color-on-surface)" onclick="window.location.href = '/'">arrow_back</IconButton>}
    {(title !== "Apps" && page === "1") && <IconButton slot="leading" color="var(--md-color-on-surface)" onclick="window.location.href = '/apps'">arrow_back</IconButton>}
    <Search placeholder="Search for games" style="height: 45px" name="searchbar"></Search>
</TopBar>

<div class="md-shape-corner-medium" style={"width: calc(100% - 96px); min-height: calc(100% - 48px); margin: 0 16px 16px 80px; padding: 16px; box-sizing: border-box; position: relative; background: var(--md-color-surface-container-lowest);" + style}>
    <slot />
</div>

<script>
    document.querySelector('#searchbar')!.addEventListener('change', (e) => {
        window.location.href = `/search/${(e.target as HTMLInputElement).value}`
    })
</script>

<Styles hex="#FF0000" dark imported />
<style is:global>
    body, html {
        background: var(--md-color-surface-container-low);
        width: 100%;
        height: calc(100% - 16px);
    }

    p {
        color: var(--md-color-on-surface)
    }

    #topbar::after {
        display: none;
    }

    * {
        margin: 0;
        padding: 0;
    }
</style>
</body>
</html>