---
import DynamicStyles from '../components/dynamic-styles.astro'
import ColorPicker from '../components/color-picker.astro'
import NavRail from '../../node_modules/astro-material-design/components/navigation/navigation-rail.astro'
import TopBar from '../../node_modules/astro-material-design/components/navigation/top-bar.astro'
import IconButton from '../../node_modules/astro-material-design/components/actions/icon-button.astro'
import Search from '../../node_modules/astro-material-design/components/navigation/search-bar.astro'
export const pages: any = [
	['Games', 'videogame_asset', 'window.location.href = "/"'],
	['Contact', 'contact_support', 'window.location.href = "/contact"'],
    ['Updates', 'update', 'window.location.href = "/updates"']
]

const json: any = []

for (const x in pages as object) {
	json.push(pages[x])
}

interface Props {
	title: string | boolean,
	page?: string,
	style?: string
}

const { title, page, style } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {title === true ? <title>Fire Game Site</title> : <title>{title} | Fire Game Site</title>}
    <link rel="icon" type="image/x-icon" href="/assets/icon.webp">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2261681163241464"
            crossorigin="anonymous"></script>
</head>
<body>
<NavRail json={JSON.stringify(json)} selected={page} style="background: var(--md-color-surface-container-low); position: fixed;"></NavRail>
<TopBar id="topbar" title={title === true ? 'Fire Game Site' : `${title} | Fire Game Site`} type="small" style="background: var(--md-color-surface-container-low);">
    {((title !== true && page !== "1") || title === "Apps") && <IconButton slot="leading" color="var(--md-color-on-surface)" onclick="window.location.href = '/'">arrow_back</IconButton>}
    {(title !== "Apps" && page === "1") && <IconButton slot="leading" color="var(--md-color-on-surface)" onclick="window.location.href = '/apps'">arrow_back</IconButton>}
    <Search placeholder="Search for games" style="height: 45px" name="searchbar"></Search>
    <ColorPicker server:defer />
</TopBar>

<div class="md-shape-corner-medium" style={"width: calc(100% - 96px); min-height: calc(100% - 48px); margin: 0 16px 16px 80px; padding: 16px; box-sizing: border-box; position: relative; background: var(--md-color-surface-container-lowest);" + style}>
    <slot />
</div>

<script>
    document.querySelector('#searchbar')!.addEventListener('change', (e) => {
        window.location.href = `/search/${(e.target as HTMLInputElement).value}`
    })
</script>

<DynamicStyles server:defer />
<style is:global>
    body, html {
        background: #000000;
        width: 100%;
        height: calc(100% - 16px);
    }

    p {
        color: var(--md-color-on-surface)
    }

    #topbar::after {
        display: none;
    }

    * {
        margin: 0;
        padding: 0;
    }
</style>
</body>
</html>